body {
    /* 배경 */
    background-color: #b0c4de;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='250'%3E%3Ctext x='20' y='50' font-size='30' opacity='0.15' transform='rotate(-15, 20, 50)'%3E🍌%3C/text%3E%3Ctext x='150' y='80' font-size='30' opacity='0.15' transform='rotate(30, 150, 80)'%3E🍌%3C/text%3E%3Ctext x='70' y='180' font-size='30' opacity='0.15' transform='rotate(10, 70, 180)'%3E🍌%3C/text%3E%3Ctext x='190' y='210' font-size='30' opacity='0.15' transform='rotate(-35, 190, 210)'%3E🍌%3C/text%3E%3C/svg%3E");

    background-repeat: repeat;
    background-size: 250px 250px;

    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.main-title {
    font-family: 'Bungee', sans-serif;
    font-size: 110px;
    color: #214365;
    -webkit-text-stroke: 3px #fce029;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 0 20px; /* 양옆 여백 */
    font-family: 'Noto Sans KR', sans-serif;
}

.team-intro-box {
    background-color: #fce029;
    color: #555;
    width: 100%;
    max-width: 600px;
    padding: 20px; /* 내부 여백 */
    border-radius: 15px;

    position: relative;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.team-intro-box::after {
    /* 바느질 */
    content: '';
    position: absolute;

    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;

    border: 2px dashed #214365;
    border-radius: 10px;

    pointer-events: none;
}

.team-intro-box h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #555;
}
.team-intro-box p {
    font-size: 16px;
    margin: 10px 0;
    line-height: 1.6;
}

section {
    /* 개인소개 */
    display: flex;
    justify-content: center;
    padding: 0 20px;
    font-family: 'Noto Sans KR', sans-serif;
}

.members-container {
    display: flex;
    justify-content: center;

    gap: 15px;
    margin-top: 50px;

    flex-wrap: nowrap;

    width: 100%;
    max-width: 950px;

    overflow: hidden;
}

.member-card {
    background-color: #ffffff;

    border-top: 10px solid #fce029;

    /* 박스 세로 길이 */
    min-height: 280px;

    flex: 1;
    min-width: 180px;

    padding: 20px;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.position-circle {
    width: auto;
    height: auto;

    display: inline-block;
    padding: 5px 12px;
    border-radius: 20px;

    margin: 0 auto 5px;

    color: #111;
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.role-design-pm {
    background-color: #fce029;
}
.role-frontend {
    background-color: #214365;
    color: #fff;
}
.role-backend {
    background-color: #e0e0e0;
}

.member-name {
    font-size: 20px;
    font-weight: bold;
    color: #1b3b5a;
    margin: 5px 0 15px 0;
}

.info-box {
    background-color: #fdf1cb;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 1.6;
    color: #1b3b5a;
    text-align: left;
    border: 2px solid #b0c4de;
}

.features {
    font-size: 13px;
    line-height: 1.5;
    color: #2b547e;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    word-break: break-all;
}

.goggles-2-eye {
    /* 고글 */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 15px 0 15px 0;

    z-index: 1;
}

.goggles-2-eye::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 250px;
    height: 12px;
    background-color: #333;
    z-index: -1;
}

.eye-lens {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: white;
    border: 9px solid #cfcfcf;
    border-radius: 50%;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.eye-lens::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-color: #654321;
    border-radius: 50%;
}
